.team-list {
  list-style: none;
  padding-left: 0;
}

.team-list li {
  background: white;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

footer {
  text-align: center;
  padding: 20px; 
  background: #0f172a;
  color: white;
   margin-top: 40px; 
  position:fixed;
  bottom:0;
  left:0;
  right:0;
}

.generator{
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  border: #0f172a solid 1px;
  /* margin: 75px; */
  width: fit-content;
  /*Potentially put it in the middle*/
  background-color:aliceblue;
}

.InputBox{
  width: 35px;
}

.features{
  border:#0f172a solid 1px;
  width:fit-content;
  padding:10px;
  background-color:aliceblue;
}

.navbar{
  padding:0px;
}

.navbar li{
  list-style-type:square;
}

.section-card{
  border:#0f172a solid 1px;
  width:fit-content;
  padding:10px;
  background-color:aliceblue;
}
